<library path="lib/librqt_example">
  <class name="rqt_example/Example"
         type="rqt_example::Example"
         base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to ...
    </description>
    <qtgui>
      <group>
        <label>New Group</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to...</statustip>
      </group>
      <label>RQT Plugin rqt_example</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to ...</statustip>
    </qtgui>
  </class>
</library>
