<launch>

    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch" ></include>
    <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'
    --inorder
    laser_enabled:=true
    kinect_enabled:=true
    " />
    <param name="use_sim_time" value="true"/>
    <group ns="/husky1">
        <param name="tf_prefix" value="husky1" />
        <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
            <arg name="robot_namespace" value="husky1"/>
            <arg name="laser_enabled" value="true"/>
            <arg name="kinect_enabled" value="true"/>
            <arg name="multimaster" value="true"/>
        </include>
         <rosparam command="load" file="$(find husky_control)/config/control.yaml" />
        <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'
        --inorder
        laser_enabled:=true
        kinect_enabled:=true
        " />
        <!-- Spawn controllers -->
        <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
                args="husky_joint_publisher husky_velocity_controller"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
             <remap from="/joint_states" to="/husky1/joint_states" />
        </node>
    </group>

    <node name="uwb_simulator_plugin" pkg="gazebo_shim" type="uwb_faker.py"/> 
    <node name="lora_simulator_plugin" pkg="gazebo_shim" type="lora_faker.py"/> 
</launch>