<launch>
    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find simple_obstacle_avoidance)/config/move_base_tgv.yml" command="load" /> 
    </node>
    <!-- <node pkg="localization_manager" type="odom_repub" respawn="false" name="odom_repub" output="screen"/> -->
    <node pkg="simple_obstacle_avoidance" type="frontier_exploration" name="frontier_exploration" output="screen" respawn="true">
    </node>
</launch>