<launch>
<arg name="robot_name" value="X1" />
    <arg name="robot_rgb_topic" default="pan_tilt/image_raw" />
    <arg name="robot_rgbd_topic" default="pan_tilt_rgbd_camera/depth/points" />


    <group ns="$(arg robot_name)">
        
        <include file="$(find object_detection)/launch/object_detection.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="robot_rgb_topic" value="$(arg robot_rgb_topic)" />
            <arg name="robot_rgbd_topic" value="$(arg robot_rgbd_topic)" />
        </include>

    </group>

</launch>
