<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tgv_urdf)/urdf/tgv.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tgv_urdf)/rviz/urdf.rviz" required="true" />
</launch>
