<launch>
    <arg name="global_graph_topic" default="/output_2" />
	<arg name="goal_topic" default="/node_id_to_explore" />

    <node pkg="global_planner" type="astar" name="astar" output="screen">
        <param name="global_graph_topic" value="/$(arg global_graph_topic)" />
        <param name="goal_topic" value="/$(arg goal_topic)" />  
    </node>


</launch>