<launch>
    <arg name="robot_name" default="X1" />
    <arg name="input_of_graph_vis" default="output_2" />
    <arg name="global_position" default="/X1/pose_static" />
    <!-- <group ns=""> -->

        <!-- <node pkg="exploration_goal" type="global_graph_debug" name="global_graph_debug" output="screen">
        </node> -->

        <node pkg="exploration_goal" type="exploration_goal" name="exploration_goal" output="screen">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>

        <node pkg="exploration_goal" type="graph_visualization" name="global_graph_viz" output="screen">
            <param name="input_of_graph_vis" type="str" value="$(arg input_of_graph_vis)" />
            <param name="global_position" type="str" value="$(arg global_position)" />
            <param name="graph_vis_topic" type="str" value="global_graph/vis" />
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>


    <!-- </group> -->

</launch>
