<launch>
    <arg name="robot_name" default="X1" />



    <group ns="$(arg robot_name)">
        <node pkg="exploration_goal" type="exploration_goal" name="exploration_goal" output="screen">
        </node>

        <node pkg="exploration_goal" type="get_ur_ass_inside" name="get_ur_ass_inside">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>

        <node pkg="lidar_frontier3d" type="frontier" name="frontier_detector">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>

        <include file="$(find object_detection)/launch/object_detection.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find loam_velodyne)/launch/loam_velodyne.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <node pkg="exploration_goal" type="defecate.py" name="defecation_agent" output="screen">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>

        <node pkg="exploration_goal" type="pantilt.py" name="pan_tilt">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>

        <include file="$(find artifact_reporter)/launch/artifact_reporter.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find ugv_obstacle_avoidance)/launch/ugv_obstacle_avoidance.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
    </group>

</launch>