<launch>
    <arg name="robot_name" default="X1" />
    <arg name="robot_rgb_topic" default="front/image_raw" />
    <arg name="robot_rgbd_topic" default="rgbd_camera/depth/points" />

    <arg name="input_of_graph_vis" default="output_2" />
    <arg name="global_position" default="/X1/pose_static" />


    <!-- <group ns="$(arg robot_name)"> -->

        <include file="$(find exploration_goal)/launch/exploration_goal.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="input_of_graph_vis" value="$(arg input_of_graph_vis)" />
            <arg name="global_position" value="$(arg global_position)" />
        </include>

        <node pkg="plot_dots" type="dots_node" name="dots_node" output="screen">
            <param name="input_of_graph_vis" type="str" value="$(arg input_of_graph_vis)" />
            <param name="global_position" type="str" value="$(arg global_position)" />
        </node>


        <!-- <node pkg="lidar_frontier3d" type="frontier" name="frontier_detector" respawn="true">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node> -->

        <!-- <include file="$(find object_detection)/launch/object_detection.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="robot_rgb_topic" value="$(arg robot_rgb_topic)" />
            <arg name="robot_rgbd_topic" value="$(arg robot_rgbd_topic)" />
        </include> -->

        <include file="$(find loam_velodyne)/launch/loam_velodyne.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- <node pkg="exploration_goal" type="defecate.py" name="defecation_agent" output="screen" respawn="true">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node> -->

        <!-- <node pkg="exploration_goal" type="pantilt.py" name="pan_tilt" respawn="true">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node> -->

        <!-- <include file="$(find artifact_reporter)/launch/artifact_reporter.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include> -->

        <!-- <include file="$(find ugv_obstacle_avoidance)/launch/ugv_obstacle_avoidance.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
        </include> -->
    <!-- </group> -->

</launch>