<launch> 
 <!--<include file="$(find noroute_mesh)/launch/converter_service.launch"/>-->
  <include file="$(find noroute_mesh)/launch/comms_node.launch">
    <arg name="name" value="teambase"/>
    <arg name="id" value="0"/>
  </include>
  <node name="teambase_master" pkg="exploration_goal" type="teambase_master.py" output="screen"/>
</launch>