<launch>
    <arg name="robot_name" value="U1" />

    <include file="$(find noroute_mesh)/launch/comms_node.launch">
        <arg name="name" value="$(arg robot_name)"/>
        <arg name="id" value="2"/>
    </include>

    <include file="$(find exploration_goal)/launch/drone.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
<!--
    <group ns="u1">
        <node name="start" pkg="exploration_goal" type="u1_start.py"/>
    </group>
    -->
</launch>