<launch>
    <arg name="robot_name" value="X1" />
    <arg name="robot_rgb_topic" default="pan_tilt/image_raw" />
    <arg name="robot_rgbd_topic" default="pan_tilt_rgbd_camera/depth/points" />

    <include file="$(find noroute_mesh)/launch/converter_service.launch"/>
    <include file="$(find noroute_mesh)/launch/comms_node.launch">
        <arg name="name" value="$(arg robot_name)"/>
        <arg name="id" value="1"/>
    </include>

    <include file="$(find exploration_goal)/launch/robot.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="robot_rgb_topic" value="$(arg robot_rgb_topic)" />
        <arg name="robot_rgbd_topic" value="$(arg robot_rgbd_topic)" />
    </include>
    <group ns="X1">
        <node pkg="exploration_goal" type="get_ur_ass_inside" name="get_ur_ass_inside" output="screen" respawn="true">
            <param name="robot_name" type="str" value="$(arg robot_name)" />
        </node>
    </group>   
</launch>