<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true"
                            output="screen">
    <rosparam command="load" file="$(find robot_localization)/params/ogv_kf_params.yaml" />

    <remap from="odometry/filtered" to="odom"/>
    <remap from="accel/filtered" to="accel"/>

  </node>

  <include file="$(find robot_localization)/launch/rtabmap.launch" />
</launch>
